@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo&family=Space+Grotesk&display=swap');
:root{
        --headercolor: #13293d;
        --headercolorhover: #069b8e;
        --bodycolor:#111;
        --headerfontcolor: #f0f0f0;
        --bodyfontcolor: #e2e2e2;
    
    font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", FontAwesome;
    font-size: 1rem;
    font-weight: normal;
    background-color: var(--bodycolor);
}              
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{scroll-behavior: smooth;}

header{
    background-image: linear-gradient(to bottom,  #021e27, #111);
    color: var(--bodyfontcolor);
}

body{
    background-color: var(--bodycolor);
    color: var(--bodyfontcolor);
}

.accordion-item{
    border: 1.5px solid #222;
    background-color: #22222299;
    color: var(--bodyfontcolor);
}
.accordion-button, button.accordion-button::after,.accordion-collapse, button.collapsed::after{
    background-color: #22222299;
    color: var(--bodyfontcolor);
    scroll-behavior: smooth;
    cursor: pointer;
}
.accordion-button:focus, .accordion-button:not(.collapsed),.modal-header,.modal-footer,.modal-body{
    background-color: #222;
    color: var(--bodyfontcolor);
}

.inputform{
    background-color: #22222299;
}

h1,h4,legend{
    font-family: 'Archivo', sans-serif;
}

h5:not(.modal-title,.lead){
    background-color: #19191977;
}

h3.send-email{
    font-family: "Archivo",sans-serif;
}

div#main-highlight, div#main-aboutme{
    border-bottom: .1rem solid;
    border-image: radial-gradient(circle, #054861 0%, #13293d 100%) 1;
}

section#sub-main-form{
    background-color: #171515;
    border-top: .1rem solid;
    border-image: radial-gradient(circle, #054861 0%, #13293d 100%) 1;
}

form button#button{
    background-color: #171515;
    color: var(--bodyfontcolor);
    border: .15rem solid;    
    border-image: radial-gradient(circle, #054861 0%, #13293d 100%) 1;
    transition: background-color 1s;
    transition-timing-function: ease-in-out;
}

form button#button:hover{
    background-color: #054861;
}

footer{
    color: var(--bodyfontcolor);
}

main img{
    width: 3rem;
    height: 3rem;
    margin: 1%;
    border-radius: 50% !important;
    overflow: hidden;
    background-color: #fff;
    border: 0.25rem solid var(--bodycolor);
    vertical-align:middle;
}

.socials{
    display: flex;
    flex-direction: row;
}

.socials a{
    text-transform: none;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 .5rem 0 0;
    font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", FontAwesome;
    color: var(--headerfontcolor);
}
body #aside-main a{
    font-size: 1rem;
    text-transform: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", FontAwesome;
    color: var(--headerfontcolor);
}

.socials a:hover{
    color: var(--headercolorhover);
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

main .card-itens{
    margin: .5rem 0;
    border-bottom: 1px solid var(--border);
}
main .card p::selection, main .card-itens h2::selection, main .card-itens h3::selection, main .card-itens h4::selection, main .card-itens h5::selection, main .card-itens i::selection, main .card a::selection{
    background: var(--headercolorhover);
    color: var(--headerfontcolor);
}

main .competencias{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:start;
    margin: .5rem;
    padding: .5rem;
    border-bottom:1px dashed var(--border);
}

h6:not(.from-to){
    font-weight: 400;
}

button.hardskills{
    background-color: var(--headercolor);
    color: var(--bodyfontcolor);
    font-size: .8rem;
}
button.hardskills:hover{
    color:var(--bodyfontcolor);
    opacity: .85;
}

::-webkit-scrollbar-track {
    background-color: #171515;
}
::-webkit-scrollbar {
    width: 6px;
    background: #054861;
}
::-webkit-scrollbar-thumb {
    background: #054861;
}

/* @media screen and (min-width: 1140px){
    
}
@media screen and (min-width:600px) and (max-width: 1140px){
   
}

@media screen and (max-width: 600px){
    main{
        width: 100vw;
        flex-direction: column !important;
    }
}

@media screen and (min-width: 200px) and (max-width: 300px){
} */